body {
    background-color: rgb(230, 230, 255);
}

h1 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

p em {
    color: red;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 em {
    color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ol {
    background-color: black;
    color: yellow;
}