.Box {
    display: inline-block;
    margin: 1em;
    width: 100px;
    height: 100px;
    border: 3px solid black;
    padding: 0.5em;
    vertical-align: top;
}

#Box1 {
    background-color: yellow;
}

#Box2 {
    background-color: magenta;
}

#Box3 {
    background-color: cyan;
}