body {
    text-align: center
}

.box1 {
    width: 300px;
    height: 220px;
    border: 2px solid rgb(13, 13, 14);
    background-color: yellow;
    text-align: center;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 20px;
}

.box2 {
    width: 100px;
    height: 30px;
    border: 2px solid rgb(13, 13, 14);
    background-color: rgb(231, 101, 15);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 20px;
    top: 50%;
    display: none;
    padding: 30px
}

.box1:hover .box2 {
    display: inline-block
}