div {
    display: block
}

.brick {
    display: inline-block;
    width: 50px;
    height: 20px;
    background-color: red;
    border: 2px;
    margin: 2px;
}

.selectable:hover {
    margin: 0;
    border: 2px solid black;
}