


body {
	display: flex;
	justify-content: center;
}
h1 {
	text-align: center;
	color: black;
	border: 2px solid black;
	border-radius: 10px;
	background: lightcyan;
	padding: 0.5em;
}

.container {
	position: relative;
	width: 500px;
	margin: 15px;
}
img {
	width: 500px;
	margin: 0;
	vertical-align: top;
}
.stamp {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background-color: rgba(100,100,100,0.7);
}

.container:hover > .stamp {
	left: 50%;
}

.stamp .content {
	color: white;
	margin: auto;
}
.stamp p {
	font-style: italic;
}
