section p {
    text-align: center;
    background-color: rgb(81, 191, 224);
    border: 2px solid rgb(98, 16, 230);
    height: 130px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    padding: 30px;
}

.box {
    display: flex;
    gap: 100px;
    justify-content: center;
}

footer p {
    text-align: center;
    background-color: rgb(216, 107, 74);
    border: none;
    height: 20px;
    width: 450px;
    border-radius: 10px;
    font-weight: bold;
}

.box2 {
    display: flex;
    justify-content: space-around;
    direction: rtl;
}