.mouse {
    display: block;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px solid black;
    transform: translate(0, 0);
    background-color: none;
    position: absolute;
}