.container {
    height: 75vh;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    background-color: lightgray;
    display: flex;
}

.item {
    background-color: yellow;
    border: 2px solid black;
    text-align: center;
    font-size: 1.5em;
    margin: 5px;
    width: 100px;
    height: 100px;
}