section p {
    text-align: center;
    background-color: rgb(212, 91, 61);
    border: 2px solid rgb(13, 13, 14);
    height: 120px;
    width: 120px;
    border-radius: 10px;
    font-weight: bold;
    padding: 20px;
    font-size: 30px;
}

.box {
    display: flex;
    gap: 100px;
    justify-content: center;
}

p:hover {
    background-color: rgb(18, 238, 128)
}

p:active {
    background-color: rgb(227, 243, 8);
    border: 5px solid red
}