        .container {
            display: inline-block;
            /** The container must have a relative position*/
            position: relative;
        }
        
        .overlay-img {
            position: absolute;
            top: 0;
            left: 180px;
        }
        
        .overlay-color {
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            /** linear-gradient allows to represent a varying color*/
            background: linear-gradient(0deg, rgba(255, 255, 255, 0, 0, 0, 0.0)， rgba(255, 255, 255, 1));
        }
        
        .text-box {
            background-color: rgb(235, 203, 203, 0.8);
            width: 200px;
            height: 30px;
            position: absolute;
            bottom: 5px;
            right: 0;
            text-align: center;
            font-size: 15px;
            border-radius: 20px 0 0 0;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color: rgb(138, 134, 134);
            padding-top: 15px;
        }