#bloc1 {
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    z-index: 3;
    top: 20px;
    right: -60px;
}

#bloc2 {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: yellow;
    position: relative;
    top: -20px;
    left: 40px;
    z-index: 2;
}

#bloc3 {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: blue;
    position: relative;
    top: -60px;
    left: -50px;
    z-index: 1;
}