h1 {
    font-size: 130%;
    color: gray;
}

p {
    margin-left: 2em;
}

p:hover {
    color: gray;
    cursor: pointer;
}

div {
    margin-top: 4em;
    margin-left: 2em;
    width: 200px;
    height: 200px;
}

.circle {
    border-radius: 50%;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}